<nav style="background-color: white;">
<a href="/ingame"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver a InGame</button></a>
</nav>

<div class="col-md-6 mx-auto mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Card Events</h3>
        </div>        
        <div class="card-body mx-auto">
            <div class="col-md-2-5 ml-2" style="display:inline-block;">
                <img src="/img/cartas/Tornado.png" width="120px" class="ml-2">  
                <p style="text-align: center;">All -5 </br>Construccion</p>
        <a href="/cards/use/5ffb4927cd2b9a11c4a4bbb6"><button class="btn btn-block btn-md mt-2" style="background-color: green; color: white;">Usar</button></a>                  
            </div>

            <div class="col-md-2-5 ml-2"style="display:inline-block;">
                <img src="/img/cartas/Diluvio.png" width="120px">
                <p style="text-align: center;">All -2 </br>Construccion</p>
        <a href="/cards/use/5ffb48becd2b9a11c4a4bbb4"><button class="btn btn-block btn-md mt-2" style="background-color: green; color: white;">Usar</button></a>                   
            </div>

            <div class="col-md-2-5 ml-2"style="display:inline-block;">
                <img src="/img/cartas/MinasEncontradas.png" width="120px">
                <p style="text-align: center;">All +750 </br>Oro</p>
        <a href="/cards/use/5ffb48f3cd2b9a11c4a4bbb5"><button class="btn btn-block btn-md mt-2" style="background-color: green; color: white;">Usar</button></a>                       
            </div>

            <div class="col-md-2-5 ml-2"style="display:inline-block;">
                <img src="/img/cartas/CaidadeServidores.png" width="120px">
                <p style="text-align: center;">All -200 Oro, </br>-2 Inteligencia</p>
        <a href="/cards/use/5ffb488ccd2b9a11c4a4bbb3"><button class="btn btn-block btn-md mt-2" style="background-color: green; color: white;">Usar</button></a>                     
            </div>
        </div>
        <div class="card-header">
            <h3>Console Of Events</h3>
        </div>
        <div class="card-body">
                {{#each events}}
                <div class="input-group mb-3">
                    {{#if defensa}}
                    <textarea style="background-color: green; color: white;" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>{{desc}}</textarea>
                        <span class="input-group-text" id="basic-addon2">                
                <form action="/event/delete/{{_id}}?__method=DELETE" method="POST">
                <input type="hidden" name="__method" value="DELETE">

                <button class="btn btn-danger btn-block btn-sm" type="submit">
                Delete
                </button>
                </form></span>
                    {{/if}}
                    {{#if ataque}}
                    <textarea style="background-color: red; color: white;" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>{{desc}}</textarea>
                                                <span class="input-group-text" id="basic-addon2">                
                <form action="/event/delete/{{_id}}?__method=DELETE" method="POST">
                <input type="hidden" name="__method" value="DELETE">

                <button class="btn btn-danger btn-block btn-sm" type="submit">
                Delete
                </button>
                </form></span>
                    {{/if}}
                    {{#if otros}}
                 <textarea style="background-color: whitesmoke; color: black;" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>{{desc}}</textarea>
                <span class="input-group-text" id="basic-addon2">                
                <form action="/event/delete/{{_id}}?__method=DELETE" method="POST">
                <input type="hidden" name="__method" value="DELETE">

                <button class="btn btn-danger btn-block btn-sm" type="submit">
                Delete
                </button>
                </form></span>
                    {{/if}}
                </div>

                {{else}}
                <p>No hay eventos</p>
                {{/each}}
        </div>
    </div>
</div>