<nav style="background-color: white;">
<a href="/ingame"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver InGame</button></a>
<div style="float: right;">
    <a href="/cards/select"><img src="/img/TiendaIcono.png" width="65px" class="mr-3 ml-2 mt-2 gelatine"></a>
</div>
<div style="float: right; border-color: gray; border-width: 2px; border-style:groove; background-color:whitesmoked; border-radius: 5px" class="mr-2 mt-2 mb-3 ml-2 p-1">  
    <p>&nbsp;<img src="/img/oro.png"> {{group.oro}} &nbsp;<img src="/img/construccion.png"> {{group.construccion}}&nbsp; <img src="/img/inteligencia.png"> {{group.inteligencia}} &nbsp; <img src="/img/diamantes.png"> {{group.diamantes}} &nbsp;</p>
</div>
</nav>
<div>
    <img src="/img/mazmorra3.jpg" class="duki">
</div>

<div class="row">
    {{#each logros}}
    <div class="col-md-2-5 ml-4 mt-4">
        <div class="card">
            <div class="card-body">
                    <center><div class="mt-2">{{name}}</div></center>
                <div class="cartasGame">
                   <div class="contenedorCartaLogros">
                    <div class="text-center" style="margin-left: 1rem;">
                            <img src="{{img}}" width="107px">
                    </div> 

                </div>
            </div>
        </div>
        <div class="card-footer">
            Recompensa: {{recompensaexp}} exp
        </div>
    </div>
</div>
{{else}}
<div class="col-md-4 cartasDisp">
 <div class="mt-5 mx-auto">
        <div class="card" style="background-color: rgba(0, 0, 0, 0.46);">
            <div class="card-body">
               <center><img src="/img/NoCartasDisp.png" width="250px">
               <p style="color: white;">No tienes ninguna carta disponible en el inventario.</p></center>
            </div>
        </div>
    </div>
</div>

{{/each}}
</div>
