<nav style="background-color: white;">
<a href="/ingame"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver InGame</button></a>
<div style="float: right;">
    <a href="/cards/select"><img src="/img/TiendaIcono.png" width="65px" class="mr-3 ml-2 mt-2 gelatine"></a>
</div>
<div style="float: right; border-color: gray; border-width: 2px; border-style:groove; background-color:whitesmoked; border-radius: 5px" class="mr-2 mt-2 mb-3 ml-2 p-1">  
    <p>&nbsp;<img src="/img/oro.png"> {{group.oro}} &nbsp;<img src="/img/construccion.png"> {{group.construccion}}&nbsp; <img src="/img/inteligencia.png"> {{group.inteligencia}} &nbsp; <img src="/img/diamantes.png"> {{group.diamantes}} &nbsp;</p>
</div>
</nav>
<div>
    <img src="/img/all-cards-background.jpg" class="duki">
</div>
<div class="row">
    {{#each cartas}}
    <div class="col-md-2-5 ml-4 mt-4">
        <div class="card">
            <div class="card-body">
                {{userId.name}}
                <div class="cartasGame">
                   <div class="contenedorCarta">
                    <div class="cartaG">
                        <div class="ladoG frenteG">
                            <img src="{{img}}" width="155px">
                        </div>
                        <div class="ladoG atrasG">
                        <h6 class="ml-2 mt-1">Descripcion</h6>
                        <p>{{desc}}</p><hr>
                        <img src="/img/Construccion.png" class="ml-3"> {{construccion}} <img src="/img/Inteligencia.png" class="ml-3"> {{inteligencia}}
                        </div>
                    </div> 
                    <center><div class="mt-2">Cantidad: 1</div></center>
                </div>
            </div>
        </div>
    </div>
        <a href="/cards/use/{{_id}}"><button class="btn btn-block btn-md mt-2" style="background-color: green; color: white;">Usar</button></a>
</div>
{{else}}
<div class="col-md-4 cartasDisp">
 <div class="mt-5 mx-auto">
        <div class="card" style="background-color: rgba(0, 0, 0, 0.46);">
            <div class="card-body">
               <center><img src="/img/noCartasDisp.png" width="250px">
               <p style="color: white;">No tienes ninguna carta disponible en el inventario.</p></center>
            </div>
        </div>
    </div>
</div>

{{/each}}
</div>