<nav style="background-color: white;">
<a href="/cards/select"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver Shop</button></a>
<div style="float: right;">

</div>
<div style="float: right; border-color: gray; border-width: 2px; border-style:groove; background-color:whitesmoked; border-radius: 5px" class="mr-2 mt-2 mb-3 ml-2 p-1">  
    <p>&nbsp;<img src="/img/oro.png"> {{group.oro}} &nbsp;<img src="/img/construccion.png"> {{group.construccion}}&nbsp; <img src="/img/inteligencia.png"> {{group.inteligencia}} &nbsp; <img src="/img/diamantes.png"> {{group.diamantes}} &nbsp;</p>
</div>
</nav>
<div>
    <img src="/img/tienda-background.jpg" class="duki">
</div>

<div class="row container">
 <div class="col-md-4-5 mt-4 ml-4 mx-auto">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.405);">
            <div class="card-body">
               <center><img src="{{cartaTocada.img}}" width="275px" class="pulse">
               <p style="color: white;" class="mt-3">{{descripcion}}</p></center>
            </div>
            {{#if esSkin}}
                <a href="/ingame/character"><button class="btn bt-lg mr-2 mb-2 btnsucces btn-block">Use Skin</button></a>
            {{else}}
                 <a href="/ingame/cards"><button class="btn bt-lg mr-2 mb-2 btnsucces btn-block">Use</button></a>
            {{/if}}

        </div>
    </div>
</div>


