<nav style="background-color: white;">
<a href="/ingame"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver Atras</button></a>
</nav>

<div class="row mx-auto">
    {{#each groups}}
<div class="col-md-3 mt-1 mb-5">
<figure class="snip1336">
        <img src="/img/bannerEspectre.png" alt="sample87" />
    <figcaption>
        <h2>{{name}}<span><img src="/img/oro.png" width="20px"> {{oro}} | <img src="/img/inteligencia.png" width="20px"> {{inteligencia}} | <img src="/img/construccion.png" width="20px"> {{construccion}} | <img src="/img/diamantes.png" width="20px"> {{diamantes}}</span></h2>
        <h6 class="ml-2">La nota media es: {{notaFinal}}</h6>
        <hr style="background-color: white;">
        <a href="/ingame/edit-group/{{_id}}" class="info" style="width: 100%;">Modificar Grupo</a>
    </figcaption>
    {{#if newentrega}}
        <p style="color: red;" class="text-center">Tiene una nueva entrega para corregir!</p>
    {{/if}}
    <a href="/group/{{_id}}" style="border-color: transparent;"><button class="btn btnvolver" style="border-color: transparent; width: 85%; margin-left: 8%; margin-bottom: 5px;"><b>Ver Entregas</b></button></a>
</figure>
</div>
    {{/each}}
</div>
