<a href="/ingame"><button class="btn ml-2 mt-2 " style="background-color: #ff6d05; color: #fff;">Volver InGame</button></a>
<div class="row mx-auto">
    {{#each groups}}
<div class="col-md-3 mt-1 mb-5">
<figure class="snip1336">
        <img src="/img/bannerEspectre.png" alt="sample87" />
    <figcaption>
        <h2>{{name}}<span><img src="/img/oro.png" width="20px"> {{oro}} | <img src="/img/inteligencia.png" width="20px"> {{inteligencia}} | <img src="/img/construccion.png" width="20px"> {{construccion}} | <img src="/img/diamantes.png" width="20px"> {{diamantes}}</span></h2>
        <h6 class="ml-2">La nota media es: {{notaFinal}}</h6>
        <hr style="background-color: white;">
        <a href="/ingame/edit-group/{{_id}}" class="info" style="width: 100%;"><i class="far fa-edit"></i></a>
    </figcaption>
    <a href="/group/{{name}}">Practicas</a>
    {{#if subido}}
    <a href="{{practica}}" download="{{name}}" style="border-color: transparent;"><button class="btnvolver" style="border-color: transparent; width: 85%; margin-left: 8%; margin-bottom: 5px;">Descargar practica</button></a>
    <form action="/users/nota/{{_id}}?__method=PUT" method="POST">
        <input type="hidden" name="__method" value="PUT">

        <div class="form-group p-1">
        <input type="text" name="nota" value="{{nota}}" class="form-control">
        </div>

        <div>
            <a href="#"><button type="submit" class="btn btnvolver" style="width: 90%; margin-left: 20px; margin-bottom: 10px;">Enviar Nota</button></a>
        </div>
    </form>
    {{/if}}
</figure>
</div>
    {{/each}}
</div>
