<!-- The Modal -->
  <div class="modal bg-modal" id="ModalPerfil" tabindex="-1" role="dialog" aria-hidden="true" data-aos="fade-down">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Your Profile</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
<div class="z-depth-5 main">
    <div class="row">
        <div class="col-sm-6 picture">
            <center><img class="circle mb-4 responsive-img rounded-circle" src="{{user.path}}"></center>
            <center>{{user.class}} / {{user.group}}</center>
        </div>
        <div class="col-sm-6 details">
            <center>
                <p class="name"><b>{{user.name}}</b></p>
                <hr>
                <p>{{user.description}}</p>
            <div class="p-2">
                <a href="/users/all-users/"><button class="btn btn-sm btn-block btnvolver">All Users</button></a>
            </div>
            </center>                     
        </div>
    </div>
    <table class="table">
      <hr>
        <tr>
            <td>
                <p><b>0</b></p>
                <p>Paises Derribados</p>
            </td>
            <td>
                <p><b>0</b></p>
                <p>Ataques con exito</p>
            </td>
        </tr>
    </table>
    <center><a href="/users/edit-user/{{user.id}}" class="waves-effect waves-light btn edit btnvolver p-2">Edit Profile</a></center>
</div>
        <div class="modal-footer">
          <button type="button" id="buttonclose" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="modal bg-modal" id="ModalNamerica" tabindex="-1" role="dialog" aria-labelledby="Namerica" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header container">
         <h3 class="modal-title text-center">{{group.name}}</h3>
        </div>
        <div class="modal-body">
          <img src='/img/oro.png' width='20px'> Oro: {{group.oro}}</br>
          <img src='/img/construccion.png' width='20px'> Construcci&oacute;n: {{group.construccion}}</br>
          <img src='/img/inteligencia.png' width='20px'> Inteligencia: {{group.inteligencia}}</br>
          
        </div>
        <div class="modal-footer">
          <button type="button" id="buttoncloseN" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal bg-modal" id="adminPanel" tabindex="-1" role="dialog" aria-labelledby="AdminPanel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h3 class="modal-title text-center">Admin Panel</h3>
        </div>
        <div class="modal-body">
          <a href="/ingame/gameSettings/"><button class="btn btn-primary btn-block">InGame Settings</button></a>
          <hr>
          <a href="/users/all-users/"><button class="btn btn-primary btn-block">Users Settings</button></a>
          <hr>
          <a href="/ingame/all-groups/"><button class="btn btn-primary btn-block">Groups Settings</button></a>
          <hr>
          <a href="/ingame/events/"><button class="btn btn-primary btn-block">Events Console</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" id="buttoncloseAdmin" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal bg-modal" id="periodicoM" tabindex="-1" role="dialog" aria-labelledby="periodicoM" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h3 class="modal-title text-center">Periodico</h3>
        </div>
        <div class="modal-body">
          <center>
          <img src="/uploads/{{game.periodico}}" width="400px">
          <hr>
          <h3>Entrega Actividad</h3></center>
          {{#if group.subido}}
          <div>
            <img src="/img/tick.png" class="rounded-circle mx-auto d-block m-3 logo" style="width: 60px;">
            <p>Ya has realizado la entrega de esta Actividad</p>
          </div>
          {{else}}
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-2">
              <label class="input-group-text" for="inputGroupFile01">Upload</label>
              <input type="file" name="file" class="form-control" id="inputGroupFile01">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btnvolver">Subir</button>
            </div>
          </form>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" id="buttonclosePeriodico" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal bg-modal" id="sobre0M" tabindex="-1" role="dialog" aria-labelledby="sobre0M" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h3 class="modal-title text-center">Sobre 0</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" id="buttoncloseSobre0" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>

