<nav style="background-color: white;">
<a href="/ingame/"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver InGame</button></a>
<a href="/notes/add/"><button class="btn mr-2 mt-3 mb-3 btnsucces" style="float:right;">Add Note</button></a>
</nav>

<div class="row">
    {{#each notes}}
    <div class="col-md-3 ml-3 mt-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/notes/edit/{{_id}}"><i class="far fa-edit"></i></a>
                </h4>
                <h6>{{group}}</h6>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?__method=DELETE" method="POST">
                <input type="hidden" name="__method" value="DELETE">

                <button class="btn btn-danger btn-block btn-sm" type="submit">
                Delete
                </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto mt-3">
        <div class="card-body">
            <h1>Hey {{user.name}}!</h1>
            <p class="lead">There are not notes yet.</p>
            <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
        </div>
    </div>
    {{/each}}
</div>