
<ul class="menu" style="z-index: 1000000;">
  <li><img src="/img/LogoEspectre.png" width="60px" class="ml-2 mt-1 elastic-spin"></li>
    <li title="Mapa"><a href="/ingame" class="active game">Mapa</a></li>
      <li title="Mazmorras"><a href="/ingame/board" class="contact">Mazmorras</a></li>
    <li title="Salir"><a href="/users/logout" id="logout" class="fas fa-sign-out-alt"></a></li>
</ul>

<div class="mx-auto text-center mt-4">

<div class="row justify-content-center">
  <div class="cajaactividad">
    <p style="margin-bottom: -3px; font-size:18px;"><u>{{actividad.name}}</u></p>
    <p>{{actividad.descripcion}} </p>
    <a href="/uploads/{{actividad.recursosAdicionales}}" download="RecursosAdicionalesDe{{actividad.name}}" style="position: absolute; right:10px; bottom: -5px;">
          <br/><button class="btn btnvolver" style="font-size: 10px;">Descargar Recursos</button>
          </p></a>
  </div>
</div>



    {{#if entregado}}
  <img src="{{user.character}}" width="170px" class="characterboard">
  <div class="row justify-content-center">
    <div class="cajanota" style="z-index: 9999999;">
      Tu nota es: </br>
      {{entrega.nota}}
    </div>
  </div>
  {{else}}
  {{#if pasadolimite}}
    <img src="{{user.character}}" width="170px" class="characterboard">
    <div class="row justify-content-center">
    <div class="cajanota" style="z-index: 999999999;">
      Limite de entrega excedido</br>
    </div>
  </div>
  {{else}}
    <img src="{{user.character}}" width="170px" class="characterboard2">
    <a href="/ingame/boardactivity/{{actividad._id}}">
    <button class="btn-primary btn-lg" style="position: absolute; margin-left:28rem; margin-top:20rem;z-index: 9999999;">
      Entregar
    </button>
    </a>
  {{/if}}
{{/if}}

  {{#if actividad.dragon}}
    <img src="{{actividad.boss}}" style="position: absolute; margin-top: 14rem; margin-left: 1rem;" width="475px">
  {{else}}
    <img src="{{actividad.boss}}" style="position: absolute; margin-top: 13rem; margin-left: 5rem;" width="275px">
  {{/if}}
    <img src="/img/mazmorra.jpg" style="border-color: black; border-width: 3px; border-style:solid;">

</div>