<div class="col-md-9 mx-auto mt-2">
    <div class="card container">
        <div class="card-header">
            <h3 >Edit {{user.name}} Character</h3>
        </div>
        <div class="card-body">
            <h5 style="margin-bottom: 2rem;">Select a Character:</h5>
            <form action="/ingame/character?__method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="__method" value="PUT">
            <div class="check-colours ml-5">
                {{#each skins}}
				<div style="float:left;">
						<input class="check-colour" type="radio" name="characterSelect" id="{{name}}" value="{{img}}">
						<label for="{{name}}" class="mr-4 mt-2 gelatine" style="display: inline-flex;"><img src="{{img}}" width="135px"></label>
				</div>
                {{/each}}
		</div>


                <div class="form-group">
                    <button class="btn btn-block btnvolver" type="submit">
                    Select
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>