<nav style="background-color: white;">
<a href="/ingame"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver Atras</button></a>
<form action="/user/search/" method="POST" style="float:right; display:inline-block;">
<div class="input-group mt-3 mb-3" style="margin-left: -2rem;">
  <input type="email" class="form-control" placeholder="Email del Alumno" name="email" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btnvolver" type="submit" id="button-addon2">Buscar</button>
</div>

</form>

</nav>
{{#if userAdmin}}
{{!-- Es admin --}}
<div class="row mx-auto">
    {{#each users}}
<div class="col-md-3 ml-3 mt-3">
<figure class="snip1336" >
    <img src="{{banner}}" alt="sample87" />
    <figcaption>
        <img src="{{character}}" alt="profile-sample4" class="profile" />
        <h2>{{name}}<span>{{group}} / {{class}}</span></h2><hr style="background-color: white;">
        <p>{{description}}</p>

        <a href="/users/edit-user/{{_id}}" class="info" style="width:100%;">Modificar Alumno</a>
        <form action="/users/delete/{{_id}}?__method=DELETE" method="POST">
        <input type="hidden" name="__method" value="DELETE">

        <a href="#" class="follow" style="width:100%;"><button type="submit" class="btn btn-sm" style="background-color:transparent; color: red;">Borrar Alumno</button></a>
        </form>
    </figcaption>
     <a href="/user/{{_id}}" style="border-color: transparent;"><button class="btn btnvolver" style="border-color: transparent; width: 85%; margin-left: 8%; margin-bottom: 5px;">Ver Entregas</button></a>
</figure>
</div>
    {{/each}}
</div>

{{else}}
{{!-- No es admin --}}
<div class="row mx-auto">
    {{#each users}}
<div class="col-md-3 ml-3 mt-4">
<figure class="snip1336">
        <img src="{{banner}}" alt="sample87" />
    <figcaption>
        <img src="{{character}}" alt="profile-sample4" class="profile" />
        <h2>{{name}}<span>{{group}} / {{class}}</span></h2><hr style="background-color: white;">
        <p>{{description}}</p>
    </figcaption>
</figure>
</div>
    {{/each}}
</div>
{{/if}}

