{{#if userAdmin}}
{{!-- Es admin --}}
<a href="/ingame"><button class="btn ml-2 mt-2 " style="background-color: #ff6d05; color: #fff;">Volver InGame</button></a>
<div class="row mx-auto">
    {{#each users}}
<div class="col-md-3 ml-3 mt-1">
<figure class="snip1336">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
    <figcaption>
        <img src="{{ProfileImg}}" alt="profile-sample4" class="profile" />
        <h2>{{name}}<span>{{group}} / {{class}}</span></h2><hr style="background-color: white;">
        <p>{{description}}</p>

        <form action="/users/delete/{{_id}}?__method=DELETE" method="POST">
        <input type="hidden" name="__method" value="DELETE">

        <a href="#" class="follow"><button type="submit" class="btn btn-sm" style="background-color:transparent; color: red;">Delete</button></a>
        </form>
        <a href="/users/edit-user/{{_id}}" class="info"><i class="far fa-edit"></i></a>
    </figcaption>
</figure>
</div>
    {{/each}}
</div>

{{else}}
{{!-- No es admin --}}
<a href="/ingame"><button class="btn ml-2 mt-2 " style="background-color: #ff6d05; color: #fff;">Volver InGame</button></a>
<div class="row mx-auto">
    {{#each users}}
<div class="col-md-3 ml-3 mt-4">
<figure class="snip1336">
        <img src="/img/bannerEspectre.png" alt="sample87" />
    <figcaption>
        <img src="{{ProfileImg}}" alt="profile-sample4" class="profile" />
        <h2>{{name}}<span>{{group}} / {{class}}</span></h2><hr style="background-color: white;">
        <p>{{description}}</p>
    </figcaption>
</figure>
</div>
    {{/each}}
</div>
{{/if}}

