<nav style="background-color: white;">
<a href="/ingame"><button class="btn ml-2 mt-3 mb-3 btnvolver">Volver Atras</button></a>

</nav>

<div class="col-md-6 mx-auto mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Modificar {{user.name}}</h3>
            <img class="mx-auto d-block" src="{{user.character}}" width="130px">
        </div>
        <div class="card-body">
            <h5>Información Basica</h5>
            <form action="/users/edit-user/{{user._id}}?__method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="__method" value="PUT">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name"
                    value="{{user.name}}">
                </div>
                <div class="form-group">
                    <input type="text" name="email" class="form-control" value="{{user.email}}">
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" minlength="5" maxlength="30">{{user.description}}</textarea>
                </div>
                {{#if userId.admin}}
                <select class="form-control" name="group">
                    <option value="{{user.group}}">{{user.group}}</option> 
                    <option value="North_America">North America</option>
                    <option value="Sud_America">Sud America</option>  
                    <option value="Africa">Africa</option> 
                    <option value="Oceania">Oceania</option>   
                    <option value="Europa">Europa</option>
                    <option value="Asia">Asia</option>                                            
                </select> </br>
                {{/if}}
                <h5>Banner</h5>
                <div class="input-group mb-4">
                    <input type="file" name="file" class="form-control" id="inputGroupFile02" value="{{user.path}}">
                    <label class="input-group-text" for="inputGroupFile02">EXPLORE</label>
                </div>

                <div class="form-group">
                    <button class="btn btn-block btnvolver" type="submit">
                    Guardar Cambios
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>